{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner text-center">

    {% for carousel_item in carousels %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="d-block w-100 carousel__image">
        <div class="carousel-caption">
          <h2 class="carousel-caption__title">{{ carousel_item.title }}</h2>
          <p class="carousel-caption__description">{{ carousel_item.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for post in blog_posts %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow" style="height: 95%;">
          
            <div class="card-img-top img-thumbnail home__image__card home__image__mcda" alt="">
              <h1>{{post.get_category_display}}</h1>
            </div>

          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.description }}</p>
            </div>
            <div class="text-center">
              <div class="d-flex flex-row align-items-center w-100 pb-1">
                <img class="rounded-circle" alt="avatar1" src="{{ post.speaker_id.photo.url }}" width="100" />
                <p class="ps-1 card-title">{{ post.speaker_id.name }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  {% comment %} <a href="/events/{{post.id}}" class="text-decoration-none text-reset"> Ver Mais</a> {% endcomment %}
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">{{post.category}}</button>
              </div>
              <span class="text-lg">{{ post.date }} - {{ post.hour }}</span>
            </div>
          </div>    
        </div>
      </div>    
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}