{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner text-center">

    <div class="carousel-item active ">
      <div class="d-block w-100 carousel__image">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="carousel-caption__title">PO</h5>
          <p  class="carousel-caption__description">Algotimos de pesquisa operacional, heurísticas e meta-heurísticas</p>
        </div>
      </div>
    </div>

    <div class="carousel-item ">
      <div class="d-block w-100 carousel__image">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="carousel-caption__title">IA</h5>
          <p  class="carousel-caption__description">Algotimos de inteligencia artificial para regressão e classificação</p>
        </div>
      </div>
    </div>

    <div class="carousel-item ">
      <div class="d-block w-100 carousel__image">
        <div class="carousel-caption d-none d-md-block">
            <h2 class="carousel-caption__title">MCDA</h5>
            <p class="carousel-caption__description">Algotimos de apoio a decisão multicritério para ordenamento e classificação</p>
        </div>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for post in blog_posts %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          {% if post.category == 'PO' %}
            <div class="card-img-top img-thumbnail home__image__card home__image__po"  alt=""></div>
          {% elif post.category == 'IA' %}
            <div class="card-img-top img-thumbnail home__image__card home__image__ia" alt=""></div>
          {% else %}
            <div class="card-img-top img-thumbnail home__image__card home__image__mcda" alt=""></div>
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">{{post.category}}</button>
              </div>
              <small class="text-muted">{{ post.date }} - {{ post.hour }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}