.menu__home__navbar {
    flex-grow: 0;
}

.navbar__default-color {
    background-color: #fdfdfd81;
    backdrop-filter: blur(1px);
}

.navbar__default-transparent {
    background-color: #ffffff00;

}

.navbar__logo {

    width: 25%;
    
}

/* Aplicar quando a largura da tela for menor que um determinado valor */
@media (max-width: 1000px) {
    .navbar__logo {
        width: 50%;
    }
    .navbar__menu {
        display: block ruby;
    }
}

.carousel__image {
    position: relative;
    height: 75vh;
}

.carousel__image::before {
    content: "";
    background-image: url('/static/images/carouselDS.png'); /* Caminho para a imagem de fundo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #333333;
    text-align: center;
}

/* Estilos padrão para desktop */
.carousel-caption__title {
    color: #333333;
    font-size: 5rem;
}

.carousel-caption__description {
    color: #333333;
    font-size: 2rem;
}

/* Media query para dispositivos menores que o tamanho do desktop */
@media (max-width: 992px) {
    .carousel-caption__title {
        font-size: 2rem; /* Tamanho menor para títulos em dispositivos móveis */
    }

    .carousel-caption__description {
        font-size: 1rem; /* Tamanho menor para descrições em dispositivos móveis */
    }
}

