{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="aboutus__banner">
    <div class="col-md-10 p-lg-6 mx-auto my-5">
        <h1 class="display-4 aboutus__banner__container__title">Porque Café com PO?</h1>
        <p class="aboutus__banner__container__text">
            A resposta é simples: porque a matemática aplicada pode ser tão envolvente quanto um bom café! Este evento é cuidadosamente organizado pelo LAD2 (Laboratório de Apoio à Decisão da FCA-Unicamp) para reunir alunos e professores apaixonados por matemática aplicada. É um espaço onde podemos nos reunir, discutir tópicos como PO (Pesquisa Operacional), IA (Inteligência Artificial), Data Science (Ciência de Dados), Modelagem, MCDA (Apoio à Decisão Multicritério) e Simulação, enquanto desfrutamos de uma boa xícara de café (ou chá, se preferir).

        </p>
    </div>
</div>
 <div class="container paddingTB60">
     <div class="row">
 
             <!-- Blog Post Content Column -->
             <div class="col-lg-12">
 
                  <hr>
 
                 <h1>Como surgiu o Café com PO</h1>
 
                 <p>
                    <br/>
                    Esta iniciativa surgiu pelos professores do laboratório de apoio a decisão 
                    da FCA-Unicamp. Com estes eventos pretendemos cada dia mais disseminar os conhecimentos
                    de matemática aplicada. 
                    <br/>
                    Venha falar conosco!
                 </p>
                 <h1>
                    Participe do Café com PO
                 </h1>
                 <p>
                    Você não precisa ser um especialista em matemática para participar do Café com PO. Este é um convite aberto a todos os entusiastas da matemática aplicada, independentemente do seu nível de conhecimento. Acreditamos que as melhores ideias surgem quando pessoas de diversas origens se unem.

                    Portanto, junte-se a nós! Venha para o Café com PO, todas as semanas, para uma dose de matemática aplicada, ótimas conversas e, é claro, para desfrutar de uma xícara de café ou chá. Não importa de onde você venha, todos são bem-vindos para se juntar à nossa comunidade de exploradores da matemática.
                                    Carrousel com organizadores 
                 </p>
                
                
 
             </div>
 
            


{% endblock %}