{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="aboutus__banner">
    <div class="col-md-5 p-lg-6 mx-auto my-5">
        <h1 class="display-4 font-weight-bolder aboutus__banner__container__title">Poque Café com PO?</h1>
        <p class="lead font-weight-normal aboutus__banner__container__text">
            O café com PO é um evento organizado pelo LAD2 para reuinir os alunos e professor 
                apaixonados por matemática aplicada, para conversar e PO, IA e MCDA, além de 
                beber muito café(ou chá)!
        </p>
    </div>
</div>
 <div class="container paddingTB60">
     <div class="row">
 
             <!-- Blog Post Content Column -->
             <div class="col-lg-12">
 
                  <hr>
 
                 <h2>Como surgiu o Café com PO</h2>
 
                 <p>

                    O café com PO é um evento organizado pelo LAD2 para reuinir os alunos e professor 
                    apaixonados por matemática aplicada, para debater sobre PO, IA e MCDA, além de 
                    tomar muito café(ou chá)!
                    <br/>
                    Esta iniciativa surgiu pelos pelos professores do laboratório de apoio a decisão 
                    da FCA-Unicamp, com este evento, pretendemos, cada dia mais dissenamar os conhecimentos
                     de matempatica aplicada, venha falar conosco!
                 </p>
 
                
                
 
             </div>
 
            


{% endblock %}