{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="aboutus__banner">
    <div class="col-md-7 p-lg-6 mx-auto my-5">
        <h1 class="display-4 aboutus__banner__container__title">Por que Café com PO?</h1>
        <p class="aboutus__banner__container__text">
            O café com PO é um evento organizado pelo LAD2 para reunir os alunos e professor apaixonados por matemática aplicada, para conversar e PO, IA e MCDA, além de beber muito café (ou chá)!
        </p>
    </div>
</div>



<div class="container paddingTB60">
    <div class="row">
 
        <div class="col-lg-12">
                <hr>
                <h1>Como surgiu o Café com PO</h1>
                <p>
                <br/>
                Esta iniciativa surgiu pelos professores do laboratório de apoio a decisão 
                da FCA-Unicamp. Com estes eventos pretendemos cada dia mais disseminar os conhecimentos
                de matemática aplicada. 
                <br/>
                Venha falar conosco!
                </p>


                <h1>
                Participe do Café com PO
                </h1>
                <p>
                Você não precisa ser um especialista em matemática para participar do Café com PO. Este é um convite aberto a todos os entusiastas da matemática aplicada, independentemente do seu nível de conhecimento. Acreditamos que as melhores ideias surgem quando pessoas de diversas origens se unem.

                Portanto, junte-se a nós! Venha para o Café com PO para uma dose de matemática aplicada, ótimas conversas e, é claro, para desfrutar de uma xícara de café ou chá. Não importa de onde você venha, todos são bem-vindos para se juntar à nossa comunidade de exploradores da matemática.
                </p>
                <br/>
        </div>
    </div> 
    <h1 class="text-lg-center"> Organização </h1>
    <div class="row">
        {% for person in persons %}
            <div class="col-lg-4 text-lg-center">
            <img class="bd-placeholder-img rounded-circle" src="{% static person.photo  %}" width="140" height="140" >
            <h2 class="fw-normal">{{person.name}}</h2>
            <p>{{person.description}}</p>
            <a class="btn" href={{person.email}}><i class="bi bi-envelope fa-2x"></i></a>
            {{person.email}}
            </div>
        {% endfor %}
    </div>
</div>
 
{% endblock %}
