{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="min-vh-100">

    <div  style="margin-top: 25vh;">
        <div class="row">
            <div class="col-lg-12">
                <!-- Post content-->
                <article>
                    <figure class="mb-4 event__detail__image__card">
                        <h1 style="font-size: 5rem;">{{event.title}}</h1>
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{event.description}}</p>
                    </section>
                </article>
            </div>
        </div>        
    </div>

</div>

{% endblock %}